@model Kodhier.ViewModels.Admin.NewsViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayAdmin.cshtml";
    ViewData["Title"] = "Home Page";
}

<header class="content__title">
    <h1>Homepage slider</h1>
    <small>Update your news!</small>
</header>
<div class="row">
    @for (var i = 0; i < 4; i++)
    {

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Update" asp-route-id="@Model.Slides[i].Id">
                        <h4 class="card-title">Slide - @(i + 1)</h4>
                        <ul class="icon-list ">
                            <li><input type="text" class="form-control" name="TitleLt" placeholder="Title (LT)" value="@Model.Slides[i].TitleLt" /></li>
                            <li><input type="text" class="form-control" name="CaptionLt" placeholder="Caption (LT)" value="@Model.Slides[i].CaptionLt" /></li>
                            <li><input type="text" class="form-control" name="TitleEn" placeholder="Title (EN)" value="@Model.Slides[i].TitleEn" /></li>
                            <li><input type="text" class="form-control" name="CaptionEn" placeholder="Caption (EN)" value="@Model.Slides[i].CaptionEn" /></li>
                            <br />
                            <li>
                                <div>
                                    <div class="form-group">
                                        <label for="PizzaId@(i)" class="control-label">Pizza</label>
                                        <select id="PizzaId@(i)" name="PizzaId" data-selection="@Model.Slides[i].PizzaId" asp-items="@(new SelectList(Model.Pizzas, "Id", "NameLt"))" class="form-control"></select>
                                        <span asp-validation-for="ImagePath" class="text-danger"></span>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="form-group">
                                    <label for="ImagePath@(i)" class="control-label">Image path</label>
                                    <select id="ImagePath@(i)" name="ImagePath" data-selection="@Model.Slides[i].ImagePath" asp-items="@(new SelectList(Model.Images))" class="form-control"></select>
                                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                                </div>
                            </li>
                            <li>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="IsActive" @(Model.Slides[i].IsActive ? "checked" : "") />
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Enable slide</span>
                                </label>
                            </li>
                        </ul>
                        <div class="float-right form-group">
                            <input type="submit" value="Change" class="btn btn-outline-success" style="cursor: pointer; margin: 5px 5px 5px 20px" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    }
</div>

@section Scripts {
    <script>
        $('form select').each(function (i, e) {
            $(e).val($(e).data('selection'));
        });
    </script>
}
