@model IEnumerable<Kodhier.ViewModels.OrderViewModels.OrderHistoryViewModel>

@{
    ViewData["Title"] = "History";
}

<h2>History</h2>

<p>
    <a asp-action="Index">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Size
            </th>
            <th>
                Order status
            </th>
            <th>
                Total amount
            </th>
            <th>
                Date ordered
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Pizza.Name
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.Size
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @(item.Quantity * item.Price)
                </td>
                <td>
                    @item.DateCreated
                </td>
                <td>
                    <a asp-action="Create" asp-route-id="@item.Pizza.Name">Place another order</a>
                </td>
            </tr>
        }
    </tbody>
</table>
