@model Kodhier.ViewModels.OrderViewModels.OrderHistoryViewModel[]

@{
    ViewData["Title"] = "History";
}
<link rel="stylesheet" type="text/css" href="~/css/History.css" />
<div class="modal-header">
    <h2>History</h2>
</div>


<div class="col-md-11 col-sm-11 mx-auto">
    <div class="row">
        <div class="col-md-12">
            <div class="mx-auto">
                <div class="card-header">
                    <h4>In progress</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <a asp-action="Index" class="btn btn-success"><i class="fa fa-angle-left"></i>Order New PIZZA</a>
        <table id="cart" class="table table-hover table-dark table-condensed table-responsive">
            <thead>
                <tr>
                    <th style="width:20%">Name</th>
                    <th style="width:5%">Size</th>
                    <th style="width:10%">Quantity</th>
                    <th style="width:5%">Total price</th>
                    <th style="width:20%">Order date</th>
                    <th style="width:30%" ">Order status</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(m => m.Status != OrderStatus.Done))
                {
                    <tr>
                        <td data-th="Name">@item.Pizza.Name</td>
                        <td data-th="Size" class="text-center">@item.Size</td>
                        <td data-th="Quantity">@item.Quantity</td>
                        <td data-th="Total price" class="text-center">@(item.Quantity * item.Price)</td>
                        <td data-th="Date ordered" class="text-center">@item.DateCreated</td>
                        <td data-th="Order status" class="text-center">@item.Status</td>
                        <td class="actions" data-th="">
                            <form asp-action="Create" asp-route-id="@item.Pizza.Name">
                                <button type="submit" class="btn btn-danger btn-sm">New order</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="products">
        <div class="row">
            <div class="col-md-12">
                <div class="mx-auto">
                    <div class="card-header">
                        <h4>Previous orders</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="card-body">
                    <table id="cart" class="table table-hover table-condensed table-responsive">
                        <thead>
                            <tr>
                                <th style="width:20%">Name</th>
                                <th style="width:5%">Size</th>
                                <th style="width:10%">Quantity</th>
                                <th style="width:5%">Total price</th>
                                <th style="width:20%">Order date</th>
                                <th style="width:30%" ">Order status</th>
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Where(m => m.Status == OrderStatus.Done))
                            {
                                <tr>
                                    <td data-th="Name">@item.Pizza.Name</td>
                                    <td data-th="Size" class="text-center">@item.Size</td>
                                    <td data-th="Quantity">@item.Quantity</td>
                                    <td data-th="Total price" class="text-center">@(item.Quantity * item.Price)</td>
                                    <td data-th="Date ordered" class="text-center">@item.DateCreated</td>
                                    <td data-th="Order status" class="text-center">@item.Status</td>
                                    <td class="actions" data-th="">
                                        <form asp-action="Create" asp-route-id="@item.Pizza.Name">
                                            <button type="submit" class="btn btn-danger btn-sm">New order</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


