@using Kodhier.ViewModels.PizzaViewModels
@model IEnumerable<Kodhier.ViewModels.PizzaViewModels.PizzaViewModel>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" type="text/css" href="~/css/Order.css" />
<div class="col-md-8 offset-md-2">
    <header>
        <h1>MENIU</h1>
    </header>
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success" role="alert">
            <p><strong> @TempData["Success"].ToString()</strong></p>
        </div>
    }
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 col-md-3">
                <div class="main" method="post" id="@Html.DisplayFor(modelItem => item.Description)">
                    <div class="products">
                        <img src=@Html.DisplayFor(modelItem => item.ImagePath) class="rounded-circle img-fluid" />
                        <h4 class="text-info text-center" style="margin-top:5px">@Html.DisplayFor(modelItem => item.Name)</h4>
                        <h4 class="text-white">from @Html.DisplayFor(modelItem => item.PriceCategory)</h4>
                        <a asp-action="Details" asp-route-id="@item.Name" asp-route-returnurl="@ViewData["ReturnUrl"]" style="margin-top:5px" class="btn btn-outline-success">DETAILS</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

