@model Kodhier.ViewModels.CookingViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Cooking";
    Layout = "~/Areas/Admin/Views/Shared/_LayAdmin.cshtml";
}

<link href="~/adm/css/Custom.css" rel="stylesheet" />

<form asp-action="Assign">
    <input type="submit" class="btn btn-info" value="Get New Order" />
</form>
<div><p>Available orders: <span id="availableOrders"></span></p></div>
<br />
<table class="table mb-sm-1 table-responsive">
    <thead class="thead-default">
        <tr>
            <td>Image</td>
            <td>Name</td>
            <td>Description</td>
            <td>Quantity</td>
            <td>Size</td>
            <td>Comment</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Queue)
        {
            <tr>
                <td class="MaxImgfield" ><img src="@Url.Content(item.Pizza.ImagePath)" class="imgPhone" /></td>
                <td>@item.Pizza.NameEn</td>
                <td class="TBdescription">@item.Pizza.DescriptionLt</td>
                <td>@item.Quantity</td>
                <td>@item.Size</td>
                <td>@item.Comment</td>
                <td>
                    <input type="button" class="btn btn-success finishCook" value="Finish" data-id="@item.Id"  style="cursor:pointer; margin: 5px"/>
                    <input type="button" class="btn btn-danger abandonCook" value="Abandon" data-id="@item.Id" style="cursor:pointer; margin: 5px" />
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Complete" id="completeForm" style="display: inline;">
    <input type="hidden" name="Id" />
</form>
<form asp-action="Abandon" id="abandonForm" style="display: inline;">
    <input type="hidden" name="Id" />
</form>

@section Scripts {
    <script>
        $('.finishCook').click(function () {
            if (confirm("Are you sure?")) {
                $('#completeForm input[name="Id"]').val($(this).data('id'));
                $('#completeForm').submit();
            }
        });
        $('.abandonCook').click(function () {
            if (confirm("Are you sure?")) {
                $('#abandonForm input[name="Id"]').val($(this).data('id'));
                $('#abandonForm').submit();
            }
        });
    </script>
    <script>
        function updateData() {
            $.get("@Url.Action("AvailableCount", "Cooking")", function(data) {
                $('#availableOrders').html(data);
            });
        }

        updateData();
        setInterval(updateData, 5 * 1000);
    </script>
}
