@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IndexViewModel
@{
    ViewData["Title"] = Localizer["Profile"];
    ViewData.AddActivePage(ManageNavPages.Index);
}
<link rel="stylesheet" type="text/css" href="~/css/Profile.css" />

@Html.Partial("_StatusMessage", Model.StatusMessage)


<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="main">
        <div class="row">
            <div class="col-md-3">
                <div class="align-self-md-center">
                    <div class="card-header">
                        <h4>@ViewData["Title"]</h4>
                    </div>
                    <div class="card-body">
                        <img class="rounded-circle" src="~/images/profileImage.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="align-self-md-center">
                    <div class="card-header">@Localizer["User details"]</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Username">@Localizer["Username"]</label>
                            <input asp-for="Username" class="form-control" disabled />
                        </div>
                        <label asp-for="Email">@Localizer["Email"]</label>

                        <div class="form-group">
                            <input asp-for="Email" class="form-control" />
                            @if (Model.IsEmailConfirmed)
                            {
                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                            }
                            else
                            {
                                <button asp-action="SendVerificationEmail" class="btn btn-link">@Localizer["Send verification email"]</button>
                            }
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <div class="form-group">
                            <label asp-for="PhoneNumber">@Localizer["Phone number"]</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            @await Html.PartialAsync("_ManageNav")
                        </div>
                        <div class="checkbox">
                            <input asp-for="EmailSendPromotional" />
                            <label asp-for="EmailSendPromotional">@Localizer["Send promotional to email."]</label>
                        </div>
                        <div class="checkbox">
                            <input asp-for="EmailSendUpdates" />
                            <label asp-for="EmailSendUpdates">@Localizer["Send order updates to email."]</label>
                        </div>
                        <button type="submit" class="btn btn-outline-success">@Localizer["Update profile"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
