@model Kodhier.ViewModels.Admin.PizzaViewModels.PizzaDetailsViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayAdmin.cshtml";
    ViewData["Title"] = "Details";
}

<link href="~/adm/css/Custom.css" rel="stylesheet" />

<header class="content__title">
    <h1>Pizza Details</h1>
</header>
<div class="row">
    <div class="main2 mx-auto">
        <blockquote class="blockquote text-center">
            <p class="h1 text-uppercase">@Model.NameEn - @Model.NameLt</p>
        </blockquote>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="@Url.Content(Model.ImagePath)" class="rounded-circle img-fluid" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>
                                Price category
                            </dt>
                            <dd>
                                @foreach (var price in Model.Prices)
                                {
                                    <span>@price.Price €</span>
                                    <span>@price.Size cm</span>
                                    <br />
                                }
                            </dd>
                            <dt>
                                Descrption - en_US
                            </dt>
                            <dd>
                                @Model.DescriptionEn
                            </dd>
                            <dt>
                                Descrption - lt_LT
                            </dt>
                            <dd>
                                @Model.DescriptionLt
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>