@model Kodhier.ViewModels.Admin.PizzaViewModels.PizzaDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" type="text/css" href="~/css/PizzaDetails.css" />


<div class="main col-md-12">
    <header>
        <h2>Pizza Details</h2>
    </header>
    <blockquote class="blockquote text-center">
        <p class="h1 text-uppercase">@Html.DisplayFor(model => model.Name)</p>
    </blockquote>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="@Html.DisplayFor(model => model.ImagePath)" class="rounded-circle img-fluid" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.PriceCategory)
                        </dt>
                        <dd>
                            @foreach (var price in Model.Prices)
                            {
                                <span>@price.Price €</span>
                                <span>@price.Size cm</span>
                                <br/>
                            }
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <a asp-action="Index" style="margin-top:5px" class="btn btn-outline-success">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
<