@model IEnumerable<Kodhier.Areas.Admin.ViewModels.PizzaViewModel>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" type="text/css" href="~/css/Order.css" />
<div class="col-md-8 offset-md-2">
    <header>
        <h1>PIZZA LIST</h1>
    </header>
    <p>
        <a asp-action="Create" style="margin-top:5px 5px 5px 5px" class="btn btn-success">Create New Pizza</a>
    </p>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 col-md-3">
                <div class="main" method="post" id="@Html.DisplayFor(modelItem => item.Id)">
                    <div class="products">
                        <img src=@Html.DisplayFor(modelItem => item.ImagePath) class="rounded-circle img-fluid" />
                        <h4 class="text-info text-center" style="margin-top:5px">@Html.DisplayFor(modelItem => item.Name)</h4>
                        <h4 class="text-white">from @Html.DisplayFor(modelItem => item.Price)</h4>
                        <h5 class="text-yellow">@Html.DisplayFor(modelItem => item.Description)</h5>
                        <div class="row">
                            <a asp-action="Details" asp-route-id="@item.Id" style="margin:5px 5px 5px 20px" class="btn btn-outline-success">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" style="margin:5px 5px 5px 3px" class="btn btn-outline-danger">Delete</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" style="margin:5px 5px 5px 3px" class="btn btn-outline-success">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
