@model IEnumerable<Kodhier.ViewModels.SliderViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Home Page"];
    var count = Model.Count();
}

<style>
    .buy-now-btn:after {
        content: '@Localizer["Buy now"]';
    }
</style>

<!-- Slider Wrapper -->
<div id="fullpage">
    <section>
        <div class="css-slider-wrapper" id="slideshow">
            <input type="radio" name="slider" class="slide-radio1" checked id="slider_1">
            @for (int j = 2; j <= count; j++)
            {
                <input type="radio" name="slider" class="slide-radio@(j)" id="slider_@j">
            }
            <!-- Slider Pagination -->
            <div class="slider-pagination">
                @for (int j = 1; j <= count; j++)
                {
                    <label for="slider_@j" class="page@(j)"></label>
                }
            </div>
            <!-- Sliders -->
            @{ var i = 0; }
            @foreach (var item in Model)
            {
                <div class="slider slide-@(++i)">
                    <div class="horizontal">
                        <img class="img-responsive rounded-circle" src="@Url.Content("uploads/img/gallery/" + item.PizzaImgPath)" style="max-width: 800px; max-height: 800px; margin-left: 20px;">
                    </div>
                    <div class="slider-content">
                        <h4>@item.Title</h4>
                        <h2>@item.Caption</h2>
                        <a asp-action="Create" asp-controller="Order" asp-route-id="@item.Pizza.NameLt"><button type="button" class="buy-now-btn" name="button">@item.Price € </button></a>
                    </div>
                </div>
            }
        </div>
    </section>
    <section>
        <div class="container " id="contain">
            <div id="location" class="intro">
                <h2 class="text-center">@Localizer["We're located"]</h2>
            </div>
        </div>

        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-center" style="color:rgb(0,0,0);background-color:#ffffff;"><img src="assets/img/phone.png">@Localizer["Contacts"]&nbsp; </h2>
                        <h3 class="text-center" style="background-color:red;">+370 64 524 636</h3>
                        <h3 class="text-center" style="background-color:red;">+370 64 524 636</h3>
                        <h2 class="text-center" style="color:rgb(0,0,0);background-color:#ffffff;"><img src="assets/img/email60x60.png">&nbsp;@Localizer["Email"]&nbsp;</h2>
                        <h3 class="text-center" style="background-color:red;">orders@kodhier.com</h3>
                        <h3 class="text-center" style="background-color:red;">info@kodhier.com</h3>
                    </div>
                    <div class="col-md-6">
                        <div id="map" style="height: 290px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-clean"></div>
    </section>
</div>

@section Scripts {
    <script src="~/js/Slide.js"></script>
    <script src="~/js/jquery.fullpage.js"></script>

    <script>
        window.onscroll = function () { myFunction() };

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky");
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
    <script type="text/javascript">
        $('#fullpage').fullpage();
    </script>
    <script>
        var map;
        var marker;

        function initMap() {
            var myLatLng = { lat: 54.903456, lng: 23.960329 };
            map = new window.google.maps.Map(document.getElementById('map'),
                {
                    center: myLatLng,
                    zoom: 17
                });
            marker = new window.google.maps.Marker({
                map: map,
                position: myLatLng
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzAKx9JC4eS_8qbGX9iz5ZwRfJ1u8Zf4o&libraries=places&callback=initMap" async defer></script>
}