@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Kodhier.ViewModels.HomeViewModel>
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Home Page"];
}

<!-- Slider Wrapper -->
<div id="fullpage">
    <section>
        <div class="css-slider-wrapper" id="slideshow">
            @for (int j = 1; j <= Model.Count()+1; j++)
            {
                <input type="radio" name="slider" class="slide-radio@(j)" @(j==1?"checked":"") id="slider_@(j)">
            }
            <div class="slider-pagination">
                @for (int j = 1; j <= Model.Count()+1; j++)
                {
                    <label for="slider_@(j)" class="page@(j)"></label>
                }
            </div>
            @{ int i = 1; }
            @foreach (var item in Model)
            {
                <div class="slider slide-@(i++)">
                    <div class="horizontal">
                        <img class="img-responsive  rounded-circle" src="@Url.Content(item.ImagePath)" style="max-width: 800px; max-height: 800px;">
                    </div>
                    <div class="slider-content">
                        <h4>New product</h4>
                        <h2>
                            @Html.DisplayFor(modelItem => item.Name)
                        </h2>
                        <button type="button" class="buy-now-btn" name="button">@Html.DisplayFor(modelItem => item.MinPrice)</button>
                    </div>
                </div>
            }
        </div>
    </section>
    <section>
        <div class="container " id="contain">
            <div id="location" class="intro">
                <h2 class="text-center">@Localizer["We're located"]</h2>
            </div>
        </div>

        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-center" style="color:rgb(0,0,0);background-color:#ffffff;"><img src="assets/img/phone.png">@Localizer["Contacts"]&nbsp; </h2>
                        <h3 class="text-center" style="background-color:red;">+370 64 524 636</h3>
                        <h3 class="text-center" style="background-color:red;">+370 64 524 636</h3>
                        <h2 class="text-center" style="color:rgb(0,0,0);background-color:#ffffff;"><img src="assets/img/email60x60.png">&nbsp;@Localizer["Email"]&nbsp;</h2>
                        <h3 class="text-center" style="background-color:red;">orders@kodhier.com</h3>
                        <h3 class="text-center" style="background-color:red;">info@kodhier.com</h3>
                    </div>
                    <div class="col-md-6">
                        <div id="map" style="height: 290px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-clean"></div>
    </section>
</div>

@section Scripts {
    <script src="~/js/Slide.js"></script>
    <script src="~/js/jquery.fullpage.js"></script>

    <script>
        window.onscroll = function () { myFunction() };

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky");
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
    <script type="text/javascript">
        $('#fullpage').fullpage();
    </script>
    <script>
        var map;
        var marker;

        function initMap() {
            var myLatLng = { lat: 54.903456, lng: 23.960329 };
            map = new window.google.maps.Map(document.getElementById('map'),
                {
                    center: myLatLng,
                    zoom: 17
                });
            marker = new window.google.maps.Marker({
                map: map,
                position: myLatLng
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzAKx9JC4eS_8qbGX9iz5ZwRfJ1u8Zf4o&libraries=places&callback=initMap" async defer></script>
}