@model Kodhier.ViewModels.DropdownViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer


<li class="dropdown nav-itemGreetings" role="presentation">
    <a class="dropdown-toggle" data-toggle="dropdown">
        <strong>Welcome, @Model.Name</strong>
    </a>
    <ul class=" dropdown-menu">
        <h6 class="dropdown-header">Balance</h6>
        <li class="nav-itemBalance" title="Add balance">
            <a class="nav-link active" asp-controller="Manage" asp-action="Redeem">@Model.Coins</a>
        </li>
        <h6 class="dropdown-header">Settings</h6>
        <li class="nav-itemDropdown">
            <a class="nav-link active" asp-controller="Manage" asp-action="Index">@Localizer["Profile"]</a>
        </li>
        <li class="nav-itemDropdown">
            <a class="nav-link active" asp-controller="Order" asp-action="History">@Localizer["Order history"]</a>
        </li>
        <div class="dropdown-divider"></div>
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-itemDropdown">
                <a class="nav-link active" href="/Admin">@Localizer["Admin cp"]</a>
            </li>
        }
        <li class="nav-itemLogout">
            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <a class="nav-link active" id="logoutBtn">@Localizer["Log out"]</a>
            </form>
        </li>
    </ul>
</li>

<script>
    document.getElementById('logoutBtn').addEventListener('click',
        function () {
            document.getElementById("logoutForm").submit();
        });
</script>