@model Kodhier.ViewModels.DropdownViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<ul class="form-display nav navbar-nav mx-auto">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <strong>@Model.Name</strong>
        </a>
        <ul class=" dropdown-menu">
            <li class="nav-itemlogg">
                <a asp-controller="Manage" asp-action="Redeem">@Model.Coins</a>
            </li>
            <li class="nav-itemlogg">
                <a class="nav-link active" asp-controller="Checkout" asp-action="Index"><img class="rounded-circle w-25" src="~/images/cart.jpg"></a>
            </li>
            <li class="nav-itemlogg">
                <a class="nav-link active" asp-controller="Manage" asp-action="Index">@Localizer["Profile"]</a>
            </li>
            <li class="nav-itemlogg">
                <a class="nav-link active" asp-controller="Order" asp-action="History">@Localizer["Order history"]</a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-itemlogg">
                    <a class="nav-link active" href="/Admin">@Localizer["Admin cp"]</a>
                </li>
            }
            <li class="nav-itemlog">
                <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    <a class="nav-link active" id="logoutBtn">@Localizer["Log out"]</a>
                </form>
            </li>
        </ul>
    </li>
</ul>

<script>
    document.getElementById('logoutBtn').addEventListener('click',
        function() {
            document.getElementById("logoutForm").submit();
        });
</script>
